{{define "head"}}
	<link rel="stylesheet" href="/static/css/dashboard">
{{end}}


{{define "content"}}
	<div class="row">
		<div class="col s2"></div>
		<div class="col s8">
			<div class="card calendar">
        		<div class="card-content white-text">
        			<div class="calendar-month">
        				<div class="row">
	        				<div class="col s2">
	        					<a onclick="prev_month()" class="waves-effect waves-white btn-flat negative"><i class="material-icons">arrow_back</i></a>
	        				</div>
	        				<div id="calendar-title" class="col s8"></div>
	        				<div class="col s2">
	        					<a onclick="next_month()" class="waves-effect waves-white btn-flat negative"><i class="material-icons">arrow_forward</i></a>
	        				</div>
	        			</div>
        			</div>
        			<table>
        				<thead>
        					<tr>
	        					<th>Sunday</th>
	        					<th>Monday</th>
	        					<th>Thuesday</th>
	        					<th>Wednesday</th>
	        					<th>Thursday</th>
	        					<th>Friday</th>
	        					<th>Saturday</th>
	        				</tr>
        				</thead>
        				<tbody id="calendar-body">
							<tr>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events">
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events">
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events">
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events">
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events">
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events">
											</div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
								<td>
									<div class="calendar-cell-wrapper">
										<div class="calendar-cell">
											<div class="day"></div>
											<div class="events"></div>
										</div>
									</div>
								</td>
							</tr>
        				</tbody>
        			</table>
				</div>
			</div>
		</div>
		<div class="col s2"></div>
	</div>
	<div id="event-modal" class="modal">
		<div class="modal-content">
			<h5><span class="event-name">Test</span></h5>
			<p><i>created by <span class="event-creator"></span></i></p>
			<i class="event-label material-icons">label</i>
			<ul class="event-signees">
				
			</ul>													
		</div>
		<div class="modal-footer">
			<a href="#!" class="modal-close waves-effect waves-white btn-flat negative">Cancel</a>
			<span class="event-cancel-signup">
				<a href="#!" onclick="cancel_signup()" class="modal-close waves-effect waves-white btn-flat">Cancel signup</a>
			</span>
			<span class="event-signup">
				<a href="#!" onclick="signup(2)" class="modal-close waves-effect waves-white btn-flat">Absent</a>
				<a href="#!" onclick="signup(3)" class="modal-close waves-effect waves-white btn-flat">Attend - Backup</a>
				<a href="#!" onclick="signup(1)" class="modal-close waves-effect waves-white btn-flat">Attend</a>
			</span>
		</div>
	</div>
    <script src="/static/javascript/dashboard"></script>
{{ end }}